.create form input,
.create form select {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #999;
    margin: 10px 0;
    font-size: 18px;
}
.create form input[type="submit"] {
    cursor: pointer;
}